{{!-- the homepage layout, can view post cant edit --}}

{{#each posts as |post| }}
<div id="box" class="row mb-4 post">
  <div class="col-md-7">
    <h2>
      <a href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
  </div>

  <div id="headerPost" class="col-md-12">
    <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  
  <div id="titlebox" class="col-md-12">
    <p>
      {{post.title}}
    </p>
  </div>

  <div id="postbox" class="col-md-12">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}